body{
    background-image: url(/photos/background.png);
  }

  .flex-container {
    align-content: center;
    width: 100%;
    background-color: black;
  }

  .logo {
    position: relative;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }