@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Rock+Salt&display=swap');

body{background-image: url(/photos/background.png);}

h1 {
  font-family: 'Rock Salt', cursive;
  color: rgb(64, 100, 114);
  text-align: center;
  font-size: 50px;
  margin-bottom: -15px;
}

.flex-container {
  align-content: center;
  width: 100%;
}

.logo {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  margin-top: 20px;
}

.pfp {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}