@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Nanum+Pen+Script&family=Rock+Salt&family=Varela+Round&display=swap');

.flex-container {
  align-content: center; 
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
}

.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

body{background-image: url(/photos/background.png);}
.spacer{margin-bottom: 80px;}

.modulename {
  display: block;
  background: white;
  text-align: center;
  width: 900px;
  border-radius: 10px;
  padding: 5px;
}

h1 {color:#647694; font-family: 'Rock Salt', cursive;
}

.ACHinavigation {
	height: 600px;
  width: auto;
	position: fixed;
	top: 150px;
  background-color: #647694;
  padding: 10px 0 0 0;
  border-radius: 40px;
  text-align: center;
}

.ACHInavigation a {
  color: white;
  background: #b3bcd4;
	padding: 20px;
  border-radius: 50px;
  margin: 20px;
  font-family: 'Varela Round', sans-serif;
  display: block;}

.ACHInavigation a:hover {
  color: #7c93b9;
	padding: 20px;
	background: white;
  border-radius: 50px;
  margin: 20px;
  font-family: 'Varela Round', sans-serif;
  transition-duration: 0.4s;}

.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 130px;
	background: #485b79;
  position: fixed;
  text-align: center;
}

.nav a {
  color: #7c93b9;
	padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  margin: 15px;
}

.img {width: 90px; padding-top: 10px; padding-bottom: 10px;}