@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Nanum+Pen+Script&family=Rock+Salt&family=Varela+Round&display=swap');

.flex-container {display: flex; flex-wrap: wrap; justify-content: center; display: block;
}

body{background-image: url(/photos/background.png);}
.spacer{margin-bottom: 80px;}

.card {
  display: block;
  top: 100px;
  width: 900px;
	padding: 20px;
	background: #e4e2e2;
  border-radius: 10px;
  margin-left: 250px;
  margin-top: 95px;
  text-align: center;
}

h1 {color:#647694;}

.ACHinavigation {
	height: 500px;
  width: auto;
	position: fixed;
	top: 120px;
  background-color: #647694;
  padding: 40px 0 0 0;
}

.ACHInavigation a {
  color: #7c93b9;
	padding: 20px;
	background: #e4e2e2;
  border-radius: 10px;
  margin: 20px;
}

body{background-image: url(/photos/background.png);}

.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 130px;
	background: #485b79;
  position: fixed;
  text-align: center;
}

.nav a {
  color: #7c93b9;
	padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  margin: 15px;
}

.img {width: 90px; padding-top: 10px; padding-bottom: 10px;}