@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Nanum+Pen+Script&family=Rock+Salt&family=Varela+Round&display=swap');

body{background-image: url(/photos/background.png);}
.spacer1{margin-bottom: 90px;}

.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 130px;
	background: #485b79;
  position: fixed;
  text-align: center;
  z-index:1;
}

.nav a {
  color: #7c93b9;
	padding: 0px;
  margin-top: 20px;
  border-radius: 10px;
  margin: 15px;
}
.row1img {width: 200px;}
.row2img {width: 300px;}
.logoimg {width: 100px; padding-top: 5px;}
.img {width: 80px; padding-top: 10px; padding-bottom: 10px;}

.flex-container {
  display: flex;
  flex-direction: column;
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

/* Container holding the image and the text */
.coursesimg {
  position: relative;
  text-align: center;
  color: white;
}

.c1r1 {
  position: absolute;
  top: 60px;
  left: 440px;
}

.c1r2 {
  position: absolute;
  top: 150px;
  left: 440px;
}

.c1r3 {
  position: absolute;
  top: 240px;
  left: 440px;
}
.c2r1 {
  position: absolute;
  top: 60px;
  left: 790px;
}

.c2r2 {
  position: absolute;
  top: 150px;
  left: 790px;
}

.c2r3 {
  position: absolute;
  top: 240px;
  left: 790px;
}

.c1r1, .c1r2, .c1r3, .c2r1, .c2r2, .c2r3 {
  display: block;
  background-color: #f5e3e1;
  color: rgb(197, 128, 128);
  padding: 25px;
  width: 250px;
  border-radius: 50px;
  font-family: 'Crimson Pro', sans-serif;
  font-size: 17px;
  text-align: center;
}