.ACHinavigation {
	height: 100%;
  	width: 200px;
	position: fixed;
	top: 200px;
    background-color: #324626;
    padding: 20px;
    border-color: rgb(173, 135, 91);
    border-width: 20px;
}

.card {
    width: 850px;
	padding: 20px;
	background: #e4e2e2;
    border-radius: 10px;
    margin-left: 250px;
}

a {color: white;}
